<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllureReportInPOM" verbose="2">
	
	<test name="Tests on YOU portal">
		<classes>
			<class name="com.YOU.qa.tests.HomePageTest" />
			<class name="com.YOU.qa.tests.InfogramPageTest" />
		</classes>
	</test>
</suite>